.seedlingMain{
    border: 2px solid silver;
    padding:15px;
    margin-bottom:10px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14);
    border-radius: 5px;
    
}
.input{

}
.input.red{
    border: 2px solid red
}
.input.green{
    border: 2px solid green
}

